extends layout

//- block head
//- 	script(type='text/javascript', src='/javascripts/environmentDashboard.js')
block content
	//- h1 Product Details for #{rawData.name}
	//- h4 Name: #{rawData.name}
	//- h4 Application: #{rawData.app}
	//- h4 Hostname: #{rawData.hostname}
	//- h4 URL: #{rawData.url}
	//- h2 Test:
	//- 	each val, key in rawData.test
	//- 		h4= key + ': ' + val
	pre #{data}